<!-- start custom head snippets -->

<!-- Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5609154832705787" crossorigin="anonymous"></script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.title | default: site.name | jsonify }},
  "url": "{{ '/' | absolute_url }}",
  "inLanguage": "ko-KR",
  "description": {{ site.description | jsonify }},
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ site.url }}{{ site.baseurl }}/search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/{{ site.favicon_dir }}/apple-touch-icon.png">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ site.url }}/{{ site.favicon_dir }}/favicon.ico" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/{{ site.favicon_dir }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/{{ site.favicon_dir }}/favicon-16x16.png">

<!-- manifest -->
<link rel="manifest" href="{{ site.url }}/manifest.json">

<!-- end custom head snippets -->
