<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- favicon, manifest -->
<link rel="{{ site.url }}/{{ site.favicon_dir }}/apple-touch-icon" sizes="180x180" href="{{ site.url }}/{{ site.favicon_dir }}/apple-touch-icon.png">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ site.url }}/{{ site.favicon_dir }}/favicon.ico" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/{{ site.favicon_dir }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/{{ site.favicon_dir }}/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}/manifest.json">

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!--[if IE]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}
